@import 'tailwindcss';

:root {
  font-family: 'Inter';
  --font-mono: 'JetBrains Mono';
}

::selection {
  background-color: black;
  color: white;
}

::-moz-selection {
  background-color: black;
  color: white;
}
